.container {
  display: flex;
  & .content {
    width: 100%;
    border: 1px solid red;
    & > h1,
    > h2 {
      font-weight: 400;
      font-size: 18px;
      width: 100%;
      border: 1px solid orangered;
      margin-left: 7%;
      margin-bottom: 77px;
    }
    & > h1 {
      font-size: 48px;
      margin-top: 70px;
      margin-bottom: 41px;
      & .name {
        color: $color-red;
      }
    }
  }
  & .content-charts {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border: 3px solid rgb(237, 104, 215);
  }
  & .charts {
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    & .charts-box {
      display: flex;
      width: 100%;
    }
  }
  &.infos-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 5px solid green;
    width: 20%;
  }
}
