.container {
  display: flex;
  & .content {
    width: 100%;
    & .title-box > h1,
    .title-box > h2 {
      width: 60%;
      font-weight: 400;
      font-size: 18px;
      width: 100%;
      margin-bottom: 67px;
    }
    & .title-box > h1 {
      font-size: 48px;
      margin-top: 70px;
      margin-bottom: 31px;
      & .name {
        color: $color-red;
      }
    }
    & .title-box {
      width: 60%;
    }
    & .title-box-side {
      width: 20%;
    }
  }
  & .content-charts,
  .content-name {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  & .charts {
    width: 60%;
    display: flex;
    flex-direction: column;
    // border: 1px solid blue;
    & .charts-box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 30px;
    }
  }
  & .infos-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
  }
}

@media only screen and (max-width: 1447px) {
  .vertical-nav {
    height: 118vh;
  }
}

@media only screen and (max-width: $xl) {
  .vertical-nav {
    min-width: 80px;
    height: 130vh;
  }
  .charts-box {
    height: 300px;
  }
  .container .charts {
    width: 95%;
    margin: 0 auto;
  }
  .content-charts {
    flex-direction: column;
    & .infos-user {
      width: 95%;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-evenly;
    }
    & div.nutriments {
      margin-bottom: 0;
      text-align: center;
      max-width: 130px;
      height: 100px;
      padding-right: 25px;
      justify-content: center;
      & .box-icon .background {
        width: 0px;
      }
      & .values h4 {
        font-size: 15px;
        margin-top: 10px;
      }
      & .values span {
        font-size: 12px;
      }
    }
  }
}
