$color-red: #ff0101;

//screen sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
